﻿* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #FFFFFF;
}

nav {
    background: #1B56BC;
    height: 80px;
    width: 100%;
    font-family: sans-serif;
}

label.logo {
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

        nav ul li a {
            color: white;
            font-size: 17px;
            padding: 7px 13px;
            border-radius: 3px;
            text-transform: uppercase;
        }

a.active, a:hover {
    background: #4d73ff;
    transition: .5s;
}
<<<<<<< HEAD
.showcase {
    background-image: url("../Img/showcase.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #1B56BC;
    font-family: sans-serif;
}
=======

.search-text {
    padding: 6px;
    margin-top: 8px;
    padding-right: 10px;
    font-size: 17px;
    border: 1px solid black;
}

.search-button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
>>>>>>> de80d12b2570384b99fd8e7d68f002d5e2d0cfb5
