﻿* {
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	padding: 0;
	margin: 0;
}

body {
	background: url("../Img/blue.jpg");
	background-size: cover;
	font-family: sans-serif;
	font-size: 62.5%;
}

.products {
	width: 90%;
	margin: 20px auto;
	flex-wrap: wrap;
	padding-left: 35px;
}

.product {
	width: 200px;
	height: 300px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px 10px;
	background: rgba(255, 0, 0, 0.81);
	text-align: center;
	font-size: 1.4em;
	box-shadow: 10px 11px 35px 2px #1d1919;
	margin: 20px;
	float: left;
}

.product img {
	display: block;
	width: 180px;
	height: 130px;
	border: 3px solid black;
	border-radius: 10px;
	margin: 0 auto 20px auto;
}

.product .description {
		height: 35px;
		margin-bottom: 60px;
}

.product .purchaseButton {
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px;
	background-color: rgba(120, 230, 238, 0.85);
	margin-right: 5px;
}

.product:hover {
	background: rgba(69, 57, 57, 0.74);
	color: white;
}

.purchaseButton:hover {
	background: rgb(54, 171, 251);
}

.products-list {
	display: inline-block;
}

/*---------Navigation-----------*/
nav {
	background: #1B56BC;
	height: 80px;
	width: 100%;
	font-family: sans-serif;
	font-size: 20px;
	color: white;
}

label.logo {
	color: white;
	font-size: 25px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

nav ul {
	float: right;
	margin-right: 20px;
}

	nav ul li {
		display: inline-block;
		line-height: 80px;
		margin: 0 5px;
	}

		nav ul li a {
			color: white;
			font-size: 17px;
			padding: 7px 13px;
			border-radius: 3px;
			text-transform: uppercase;
		}

a.active, a:hover {
	background: #4d73ff;
	transition: .5s;
}