﻿* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #FFFFFF;
}

nav {
    background: #424245;
    height: 80px;
    width: 100%;
    font-family: sans-serif;
}

label.logo {
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

        nav ul li a {
            color: white;
            font-size: 17px;
            padding: 7px 13px;
            border-radius: 3px;
            text-transform: uppercase;
        }

a.active, a:hover {
    background: #4d73ff;
    transition: .5s;
}

.showcase {
    background-image: url(../Img/showcase.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #1B56BC;
    font-family: sans-serif;
}

.logoImg {
    width: 200px;
}
.info {
    border: 1px solid rgba(100,100,100,0.3);
    padding-left:140px;
    padding-top: 30px;
    margin-top: 31px;
    width: 50%;
    height: 382px;
    color: black;
    font-size: 30px;
    font-family: sans-serif;
    float: left;
}
.image{
    width: 50%;
}
.img{
    width: 50%;
    margin-top: 30px;
}