﻿* {
    padding: 0;
    margin: 0px 0 0 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #FFFFFF;
}

nav {
    background: #424245;
    height: 80px;
    width: 100%;
    font-family: sans-serif;
    position: fixed;
}

label.logo {
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

        nav ul li a {
            color: white;
            font-size: 17px;
            padding: 7px 13px;
            border-radius: 3px;
            text-transform: uppercase;
        }

a.active, a:hover {
    background: #4d73ff;
    transition: .5s;
}

.Button1 {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    color: white;
    background: #525359;
    top: 80px;
}

    #sidebar .active {
        left: 0px;
    }

    #sidebar ul li {
        list-style: none;
        padding: 15px 10px;
        border-bottom: 1px solid rgba(100,100,100,0.3);
    }

        #sidebar ul li a {
            color: white;
        }

/*Add product form*/
.addMessage {
    color: black;
    padding-left: 200px;
    padding-top: 80px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}
.add {
    padding-left: 200px;
    height: 500px;
    width: 600px;
    margin: 3em 5em auto;
}
.un {
    width: 54%;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 27px;
}
.description {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    height: 100px;
    width: 400px;
}
.upload {
    position: absolute;
    right: 230px;
    top: 484px;
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}
.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: #476cf5;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
.errorLabel{
    color: red;
}
.logoImg {
    width: 200px;
}