﻿* {
    padding: 0;
    margin: 0px 0 0 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #FFFFFF;
}

nav {
    background: #424245;
    height: 80px;
    width: 100%;
    font-family: sans-serif;
    position: fixed;
    z-index: 100;
}

label.logo {
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

        nav ul li a {
            color: white;
            font-size: 17px;
            padding: 7px 13px;
            border-radius: 3px;
            text-transform: uppercase;
        }

a.active, a:hover {
    background: #4d73ff;
    transition: .5s;
}

.Button1 {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    color: white;
    background: #525359;
    top: 80px;
}

    #sidebar .active {
        left: 0px;
    }

    #sidebar ul li {
        list-style: none;
        padding: 15px 10px;
        border-bottom: 1px solid rgba(100,100,100,0.3);
    }

        #sidebar ul li a {
            color: white;
        }

.introduction {
    margin-left: 200px;
    width: 80%;
    height: 100px;
    color: black;
}

.newest {
    margin-left: 200px;
    color: black;
    padding-top: 80px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}

/*Newest products*/
.products {
    width: 90%;
    flex-wrap: wrap;
    padding-left: 200px;
    font-size: 12px;
}

.product {
    width: 163px;
    height: 259px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    background: #4f5578;
    text-align: center;
    font-size: 1.4em;
    margin: 14px;
    float: left;
}

    .product img {
        display: block;
        width: 180px;
        height: 130px;
        border: 3px solid black;
        border-radius: 10px;
        margin: 0 auto 20px auto;
    }

    .product .description {
        height: 35px;
    }

    .product .price {
        color: white;
        margin-bottom: 10px;
    }

    .product .purchaseButton {
        border: 1px solid black;
        border-radius: 3px;
        padding: 5px;
        background-color: rgba(120, 230, 238, 0.85);
        margin-right: 5px;
    }

    .product .quantLabel {
        margin-bottom: 100px;
    }

    .product:hover {
        box-shadow: -6px -1px 13px -3px rgba(0,0,0,0.63);
    }

    .product .drop {
    }

.purchaseButton:hover {
    background: rgb(54, 171, 251);
}

.products-list {
    display: inline-block;
}

.product .quantBox {
    height: 19px;
    width: 35px;
}

.CartSummary {
    border: #0468a4 2px solid;
    background-color: snow;
    padding: 3px 2px 5px;
}

.offerImage {
    height: 330px;
    width: 600px;
    padding-left: 20%;
    position: relative;
    left: 200px;
    top: 85px;
}

.logoImg {
    width: 200px;
}
.report {
    width: 80%;
    margin: auto;
    background: #5989ba;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    height: 90vh;
    padding-left:200px;
    padding-top: 100px;
}

#Show-report {
    text-align: center;
    margin: 45vh auto;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 45%;
}

.hide {
    display: none !important;
}