﻿* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2 {
    color: white;
    padding-bottom: 5px;
}

body, html {
    height: 100%;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    color:black;
}

.purchaseButton {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #476cf5;
    font-size: 17px;
    color: white;
    border: none;
    cursor: pointer;
}

.container-table100 {
    width: 80%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 13px 30px;
    margin-left: 180px;
}

.wrap-table100 {
    width: 1170px;
}

table {
    border-spacing: 1px;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;

}

    table * {
        position: relative;
    }

    table td, table th {
        padding-left: 8px;
    }

    table thead tr {
        height: 60px;
        background: #4f5578;
    }

    table tbody tr {
        height: 50px;
    }

        table tbody tr:last-child {
            border: 0;
        }

    table td, table th {
        text-align: left;
    }

        table td.l, table th.l {
            text-align: right;
        }

        table td.c, table th.c {
            text-align: center;
        }

        table td.r, table th.r {
            text-align: center;
        }


.table100-head th {
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}

    tbody tr:hover {
        color: #555555;
        background-color: #f5f5f5;
        cursor: pointer;
    }

.column1 {
    width: 30px;
    padding-left: 30px;
}

.column2 {
    width: 50px;
    text-align: right;
}

.column3 {
    width: 50px;
    text-align: right;
}

.column4 {
    width: 222px;
    text-align: right;
    padding-right: 62px;
}


#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    color: white;
    background: #525359;
    top: 80px;
}

    #sidebar .active {
        left: 0px;
    }

    #sidebar ul li {
        list-style: none;
        padding: 15px 10px;
        border-bottom: 1px solid rgba(100,100,100,0.3);
    }

        #sidebar ul li a {
            color: white;
        }
.logoImg {
    width: 200px;
}