﻿* {
    padding: 0;
    margin: 0px 0 0 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #FFFFFF;
}

nav {
    background: #424245;
    height: 80px;
    width: 100%;
    font-family: sans-serif;
    position: fixed;
}

label.logo {
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

        nav ul li a {
            color: white;
            font-size: 17px;
            padding: 7px 13px;
            border-radius: 3px;
            text-transform: uppercase;
        }

a.active, a:hover {
    background: #4d73ff;
    transition: .5s;
}

.Button1 {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.all {
    width: 100%;
    height: 500px;
}

.information {
    margin-top: 110px;
    padding-top: 20px;
    padding-left: 120px;
    margin-left: 20px;
    width: 70%;
    float: left;

    background-color: #FFFFFF;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0,0,0,0.14);
    padding-bottom: 20px;
}

.un {
    width: 30%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 46px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Ubuntu', sans-serif;
}

.datalistBox {
    color: black;
    margin-top: 110px;
    padding-top: 20px;
    padding-left: 40px;
    margin-left: 20px;
    width: 20%;
    float: left;
    background-color: #FFFFFF;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0,0,0,0.14);
}
.productsList{
    color: black;
}
.log {
    padding-top: 10px;
    padding-right:180px;
    padding-bottom:10px;
    color: #1B56BC;
    font-family: sans-serif;
    align-content: center;
    text-align: center;
}
.purchaseButton {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: #476cf5;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 250px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
.errorLabel {
    color:red;
    margin-left:240px;
}
.logoImg {
    width: 200px;
}