﻿* {
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	padding: 0;
	margin: 0 0 0 0px;
}

body {
	background: white;
	background-size: cover;
	font-family: sans-serif;
}

.products {
	width: 90%;
	flex-wrap: wrap;
	padding-left: 200px;
	font-size: 12px;
}

.product {
	width: 163px;
	height: 259px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px 10px;
	background: #4f5578;
	text-align: center;
	font-size: 1.4em;
	margin: 14px;
	float: left;
}

	.product img {
		display: block;
		width: 180px;
		height: 130px;
		border: 3px solid black;
		border-radius: 10px;
		margin: 0 auto 20px auto;
	}

	.product .description {
		height: 35px;
		color: white;
	}

	.product .price {
		color: white;
		margin-bottom: 10px;
	}

	.product .purchaseButton {
		border: 1px solid black;
		border-radius: 3px;
		padding: 5px;
		background-color: rgba(120, 230, 238, 0.85);
		margin-right: 5px;
	}

	.product .quantLabel {
		margin-bottom: 10px;
	}

	.product:hover {
		box-shadow: -6px -1px 13px -3px rgba(0,0,0,0.63);
	}

	.product .drop {
	}

.purchaseButton:hover {
	background: rgb(54, 171, 251);
}

.products-list {
	display: inline-block;
}

.product .quantBox {
	height: 19px;
	width: 35px;
}

/*---------Navigation-----------*/
nav {
	background: #424245;
	height: 80px;
	width: 100%;
	font-family: sans-serif;
	color: white;
	position: fixed;
}

label.logo {
	color: white;
	font-size: 25px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

nav ul {
	float: right;
	margin-right: 20px;
}

	nav ul li {
		display: inline-block;
		line-height: 80px;
		margin: 0 5px;
	}

		nav ul li a {
			color: white;
			font-size: 17px;
			padding: 7px 13px;
			border-radius: 3px;
			text-transform: uppercase;
		}

a.active, a:hover {
	background: #4d73ff;
	transition: .5s;
}

/*sidebar*/
#sidebar {
	position: fixed;
	width: 200px;
	height: 100%;
	background: #525359;
	color: white;
	top: 80px;
}

	#sidebar .active {
		left: 0px;
	}

	#sidebar ul li {
		list-style: none;
		padding: 15px 10px;
		border-bottom: 1px solid rgba(100,100,100,0.3);
	}
	#sidebar ul li a {
		color: white;
	}

.all {
	padding-left: 200px;
	border-bottom: 1px solid rgba(100,100,100,0.3);
	padding-top: 2px;

}

.search-container{
	padding-left: 213px;
	padding-top: 80px;
}
.search-text {
	padding: 6px;
	margin-top: 8px;	
	padding-right: 10px;
	font-size: 17px;
	border: 1px solid black;
	
}

.search-button {
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.pageButtons{
	padding-left: 200px;
	color: black;
	width:100%;
	display:flex;
	justify-content:center;
	margin: 3px;
}
.filterButton {
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}
.logoImg {
	width: 200px;
}