﻿* {
    padding: 0;
    margin: 0px 0 0 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #FFFFFF;
}

nav {
    background: #424245;
    height: 80px;
    width: 100%;
    font-family: sans-serif;
    position: fixed;
}

label.logo {
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

        nav ul li a {
            color: white;
            font-size: 17px;
            padding: 7px 13px;
            border-radius: 3px;
            text-transform: uppercase;
        }

a.active, a:hover {
    background: #4d73ff;
    transition: .5s;
}

.Button1 {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    color: white;
    background: #525359;
    top: 80px;
}

    #sidebar .active {
        left: 0px;
    }

    #sidebar ul li {
        list-style: none;
        padding: 15px 10px;
        border-bottom: 1px solid rgba(100,100,100,0.3);
    }

        #sidebar ul li a {
            color: white;
        }

.product{
    padding-left: 200px;
    padding-top: 80px;
    width:100%;
    height: 400px;
}
    .product .image {
        width: 200px;
        height: 200px;
        float: left;
        margin-left: 140px;
        border: 1px solid rgba(100,100,100,0.3);
    }
    .product .data {
        padding-left: 200px;
        float: left;
        font-size: 20px;
        margin-left: 50px;
    }
.product .description{
}
.Datalist{
    width:100%;
    height: 400px;
}
.logoImg {
    width: 200px;
}