﻿* {
    padding: 0;
    margin: 0px 0 0 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #FFFFFF;
}

nav {
    background: #424245;
    height: 80px;
    width: 100%;
    font-family: sans-serif;
    position: fixed;
    z-index: 100;
}

label.logo {
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

        nav ul li a {
            color: white;
            font-size: 17px;
            padding: 7px 13px;
            border-radius: 3px;
            text-transform: uppercase;
        }

a.active, a:hover {
    background: #4d73ff;
    transition: .5s;
}

.Button1 {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    color: white;
    background: #525359;
    top: 80px;
}

    #sidebar .active {
        left: 0px;
    }

    #sidebar ul li {
        list-style: none;
        padding: 15px 10px;
        border-bottom: 1px solid rgba(100,100,100,0.3);
    }

        #sidebar ul li a {
            color: white;
        }

.changePassword{
    padding-top: 90px;
    padding-left: 200px;
}
.un {
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-left: 46px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Ubuntu', sans-serif;
}
.changeHeader{
    color: black;
    margin-left: 10px;
}
.submitButton {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: #476cf5;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 100px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
.errorLabel{
    color: red;
    margin-left:130px;
}
.successLabel {
    color: lawngreen;
    margin-left: 130px;
}
.logoImg {
    width: 200px;
}